spring.application.name=backend
spring.security.enabled=false
spring.datasource.url=jdbc:postgresql://localhost:5432/marvelrivalsdb
spring.datasource.username=postgres
spring.datasource.password=PASSWORD
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true